<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm" th:fragment="navbar">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">Aplikasi Buku</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" th:classappend="${currentPageUri == '/' or currentPageUri == '/buku' ? 'active' : ''}" th:href="@{/}">Daftar Buku</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${currentPageUri == '/penulis' ? 'active' : ''}" th:href="@{/penulis}">Daftar Penulis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${currentPageUri == '/anggota' ? 'active' : ''}" th:href="@{/anggota}">Daftar Anggota</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:classappend="${currentPageUri == '/peminjaman' ? 'active' : ''}" th:href="@{/peminjaman}">Peminjaman Buku</a>
          </li>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link nav-link" style="color: inherit; text-decoration: none;">Logout</button>
              </form>
            </li>
          </ul>

          <form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
            <input type="submit" value="Logout">
          </form>
          <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger">Logout</a>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>