<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments/header :: header_content}"></head>
    <title th:text="${pageTitle} ?: 'Daftar Buku'"></title>
</head>
<body>
    <div class="container-fluid p-0">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
    <div class="container mt-4">

        <h1 class="text-center">Daftar Buku</h1>

        <div th:if="${message}" class="message">
            <p th:text="${message}"></p>
        </div>


        <a th:href="@{/buku_form}" class="btn btn-primary">Tambah Buku Baru</a>


        <table border="1" class="table table-striped table-hover shadow-sm">
            <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Judul Buku</th>
                <th>Penerbit Buku</th>
                <th>Tahun Terbit</th>
                <th>isbn</th>
                <th>Nama Penulis</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="buku, interStat : ${listBuku}" class="text-center">
                <td>
                    <span th:text="${(currentPage - 1) * pageSize + interStat.count}" class="text-center"></span>
                </td>
                <td th:text="${buku.judulBuku}" class="text-center"></td>
                <td th:text="${buku.penerbitBuku}" class="text-center"></td>
                <td th:text="${buku.tahunTerbit}" class="text-center"></td>
                <td th:text="${buku.isbn}" class="text-center"></td>
                <td th:text="${buku.penulis != null ? buku.penulis.namaPenulis : 'N/A'}" class="text-center">Nama Penulis</td>
                <td class="text-center" >
                    <a th:href="@{/buku/edit/{id}(id=${buku.id})}" class="btn btn-warning">Edit</a>
                    <a th:href="@{/buku/delete/{id}(id=${buku.id})}" class="btn btn-danger"
                       onclick="return confirm('Apakah Anda yakin ingin menghapus buku ini?');">Delete</a>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(listBuku)}">
                <td colspan="6">Belum ada buku dalam daftar.</td>
            </tr>
            </tbody>
        </table>

        <div th:if="${totalPages > 0}" class="pagination">
            Total Items: <span th:text="${totalItems}"></span> | Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span>
            <br><br>
            <a th:if="${currentPage > 1}"
               th:href="@{'/buku?pageNum=1&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>

            <a th:if="${currentPage > 1}"
               th:href="@{'/buku?pageNum=' + ${currentPage - 1} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>

            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:if="${currentPage != i}"
           th:href="@{'/buku?pageNum=' + ${i} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
           th:text="${i}"></a>
        <a th:if="${currentPage == i}"
           class="active" th:text="${i}"></a>
    </span>

            <a th:if="${currentPage < totalPages}"
               th:href="@{'/buku?pageNum=' + ${currentPage + 1} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>

            <a th:if="${currentPage < totalPages}"
               th:href="@{'/buku?pageNum=' + ${totalPages} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>