<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="~{fragments/header :: header_content}"></head>
  <title th:text="${pageTitle} ?: 'Daftar Buku'"></title>
</head>
<body>

<div class="container-fluid p-0">
  <div th:replace="~{fragments/navbar :: navbar}"></div>
</div>

<div class="container mt-4">
  <h1>Daftar Penulis</h1>

  <div th:if="${message}" class="message">
    <p th:text="${message}"></p>
  </div>
  <div th:if="${error_message}" class="error-message">
    <p th:text="${error_message}"></p>
  </div>

  <a th:href="@{/penulis/new}" class="btn btn-primary">Tambah Penulis Baru</a>

  <table border="1">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama Penulis</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="penulis, interStat : ${listPenulis}">
      <td th:text="${interStat.count}"></td>
      <td th:text="${penulis.namaPenulis}"></td>
      <td>
        <a th:href="@{/penulis/edit/{id}(id=${penulis.id})}" class="btn btn-warning">Edit</a>
        <a th:href="@{/penulis/delete/{id}(id=${penulis.id})}" class="btn btn-danger"
           onclick="return confirm('Apakah Anda yakin ingin menghapus penulis ini?');">Delete</a>
      </td>
    </tr>
    <tr th:if="${#lists.isEmpty(listPenulis)}">
      <td colspan="3">Belum ada penulis dalam daftar.</td>
    </tr>
    </tbody>
  </table>

  <div th:if="${totalPages > 0}" class="pagination">
    Total Items: <span th:text="${totalItems}"></span> | Page <span th:text="${currentPage}"></span> of <span th:text="${totalPages}"></span>
    <br><br>
    <a th:if="${currentPage > 1}"
       th:href="@{'/penulis?pageNum=1&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>

    <a th:if="${currentPage > 1}"
       th:href="@{'/penulis?pageNum=' + (${currentPage - 1}) + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>

    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
        <a th:if="${currentPage != i}"
           th:href="@{'/penulis?pageNum=' + ${i} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
           th:text="${i}"></a>
        <a th:if="${currentPage == i}"
           class="active" th:text="${i}"></a>
    </span>

    <a th:if="${currentPage < totalPages}"
       th:href="@{'/penulis?pageNum=' + (${currentPage + 1}) + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>

    <a th:if="${currentPage < totalPages}"
       th:href="@{'/penulis?pageNum=' + ${totalPages} + '&pageSize=' + ${pageSize} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>